
android/\.idea/
/SleepGarmin-watch2/.idea/
/SleepGarmin-watch2/build/
/.idea/
/SleepGarmin-watch/.idea/
/SleepGarmin-watch2/bin/
SleepGarmin-watch/TRMK2Q~T
SleepGarmin-watch2/bin/Sleep2.prg
SleepGarmin-watch2/bin/Sleep2.prg.debug.xml
