
android/\.idea/
/SleepGarmin-watch2/.idea/
/SleepGarmin-watch2/build/
/.idea/
/garmin/
/garmin-debugversions/
/garmin-releases/
/watch-debug/
/watch-releases/
/SleepGarmin-watch/.idea/
/SleepGarmin-watch2/bin/
