<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.urbandroid.sleep.garmin">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Added so ADB works with garmin simulation -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />

    <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

        <activity android:name=".ErrorReportActivity"
          android:exported="true">
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
          android:name="androidx.core.content.FileProvider"
          android:authorities="com.urbandroid.sleep.garmin.fileprovider"
          android:exported="false"
          android:grantUriPermissions="true">
            <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/fileprovider" />
        </provider>

        <service android:name=".SleepAsAndroidProviderService" />

        <receiver
          android:name=".SleepAsGarminReceiver"
          android:exported="true">
            <intent-filter>
                <action android:name="com.garmin.android.connectiq.INCOMING_MESSAGE" />
                <action android:name="com.urbandroid.sleep.garmin.CHECK_CONNECTED" />
                <action android:name="com.urbandroid.sleep.watch.START_TRACKING" />
                <action android:name="com.urbandroid.sleep.watch.STOP_TRACKING" />
                <action android:name="com.urbandroid.sleep.watch.SET_PAUSE" />
                <action android:name="com.urbandroid.sleep.watch.SET_BATCH_SIZE" />
                <action android:name="com.urbandroid.sleep.watch.SET_SUSPENDED" />
                <action android:name="com.urbandroid.sleep.watch.START_ALARM" />
                <action android:name="com.urbandroid.sleep.watch.STOP_ALARM" />
                <action android:name="com.urbandroid.sleep.watch.UPDATE_ALARM" />
                <action android:name="com.urbandroid.sleep.watch.HINT" />
                <action android:name="com.urbandroid.sleep.watch.CHECK_CONNECTED" />
                <action android:name="com.urbandroid.sleep.watch.REPORT" />
            </intent-filter>
        </receiver>
    </application>

    <queries>
        <!-- Urbandroid -->
        <package android:name="com.urbandroid.sleep"/>
        <package android:name="com.urbandroid.sleep.full.key"/>
        <!-- Automate -->
        <package android:name="net.dinglisch.android.taskerm"/>
        <package android:name="com.llamalab.automate"/>
        <!-- Wearables -->
        <package android:name="com.garmin.android.apps.connectmobile"/>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="message/rfc822" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <data android:mimeType="text/plain" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <data android:mimeType="message/rfc822" />
        </intent>
    </queries>

</manifest>